

.box {
    height: 100vh;
    background-color: #FFFFFF;
    padding-top: 15%;
}

#colorCode {
    font-family: 'Open Sans', sans-serif;
    font-size: 100px;
    text-transform: uppercase;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

h1 {
    padding-bottom: 30px;
}